.links-of-blogroll-inline .links-of-blogroll-item { display: inline-block; }

.site-author-image {
    display: block;
    margin: 0 auto;
    padding: $site-author-image-padding;
    max-width: $site-author-image-width;
    height: $site-author-image-height;
    border: $site-author-image-border-width solid $site-author-image-border-color;
  
    // 头像圆形
    width: 100px;
    height: 100px; //设置宽高
    border-radius: 50%; //圆角
    margin: 10px auto;
    overflow: hidden; //裁剪
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    box-shadow: inset 0 -1px 0 #333sf;

  }